<div class="main" [dir]="direction">

  <form class="form"[formGroup]="form">
    <div>
      <button mat-flat-button (click)="changeLangEn()">{{'english' | translate}}</button>
      <button mat-flat-button (click)="changeLangAr()">{{'arabic' | translate}}</button>

    </div>
    <mat-form-field appearance="outline">
      <mat-label>{{'firstname.value' | translate}}</mat-label>
      <input matInput formControlName="firstname" placeholder="{{'firstname.placeholder' | translate}}">
      <mat-error *ngIf="form.get('firstname')?.hasError('required')">{{'firstname.required' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'lastname.value' | translate}}</mat-label>
      <input matInput formControlName="lastname" placeholder="{{'lastname.placeholder' | translate}}">
      <mat-error *ngIf="form.get('lastname')?.hasError('required')">{{'lastname.required' | translate}}</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'email.value' | translate}}</mat-label>
      <input matInput formControlName="email" placeholder="{{'email.placeholder' | translate}}">
      <mat-error *ngIf="form.get('email')?.hasError('required')">{{'email.required' | translate}}</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">{{'email.email' | translate}}</mat-error>

    </mat-form-field>

    <div>
      <button mat-flat-button [disabled]="!form.valid">{{'submit' | translate}}</button>
    </div>
  </form>


</div>

